@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

@layer utilities {
  .app-input {
    @apply bg-neutral-100 w-full border outline-primary text-dark-text py-3 pe-3 rounded-md read-only:opacity-70 read-only:[&not[type="file"]]:pointer-events-none;
  }

  .app-select {
    @apply w-full border outline-primary text-dark-text py-3 pe-3 rounded-md bg-neutral-100;
  }

  .heading {
    @apply font-[500] text-xl md:text-2xl
  }

  .btn {
    @apply inline-flex gap-1 border items-center justify-center rounded-md shadow-sm transition duration-150 ease-in-out font-[500]
  }

  .btn-primary {
    @apply bg-primary border-primary btn text-light-text hover:bg-primary-dark text-sm font-[500] py-3 inline-flex gap-1;
  }

  .btn-dark {
    @apply bg-neutral-800 border-neutral-800 btn text-light-text hover:bg-black text-sm py-3 inline-flex gap-1;
  }

  .app-container {
    @apply px-5 sm:px-8 md:px-9 lg:px-14 xl:px-20 2xl:px-28;
  }

  .admin-side-link {
    @apply flex gap-3 font-[500] items-center text-neutral-700 hover:text-primary p-2 rounded-md hover:bg-neutral-100 transition-colors duration-300
  }

  .admin-side-link-logout {
    @apply !text-red-800 !text-red-700 p-2 rounded-md !bg-red-50
  }

  .btn-edit {
    @apply border border-neutral-500 px-2 py-1 text-neutral rounded-md flex items-center justify-center
  }

  .btn-delete {
    @apply border border-red-800 px-2 py-1 text-red-800 rounded-md flex items-center justify-center
  }
  table {
    @apply shadow-lg
  }
  table td:nth-of-type(1){
    @apply pl-2 py-3
  }
  table tr:last-of-type{
    border: none !important;
  }
  .info{
    @apply p-6 rounded-lg font-semibold bg-yellow-100 text-red-950
  }
  .hero-img{
    @apply w-[90%] md:w-[80%] object-cover object-center relative opacity-80 h-20 md:h-[28%];
    border-top-left-radius: 120px 150px;
    border-top-right-radius: 120px 150px;
    border-bottom-left-radius: 120px 150px;
    border-bottom-right-radius: 120px 150px;
  }
}

.carousel-primary,
.carousel-secondary {
  top: 26%;
  transform: translateX(100%);
  width: 1870px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.carousel-primary img {
  width: 150px;
  object-fit: contain;
  margin-left: 20px;
  border-radius: 14px;
}

.carousel-primary {
  display: flex;
  gap: 20px;
  /* justify-content: space-around; */
  animation: scroll-horizontal 40s linear infinite;
}

.carousel-secondary {
  animation: scroll-horizontal 40s linear infinite;
  animation-delay: 20s;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel-primary:hover,
.carousel-primary:hover~.carousel-secondary {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.carousel-secondary:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}


.scroll-container:hover>.carousel-primary:not(:hover) {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
